*{margin: 0;padding: 0;box-sizing: border-box;font-family: 'Open Sans';}

html,body{
  height: 100%;
  background-color: black;
  max-width: 1580px;
  margin: 0 auto;
  
}

@font-face{
  src: url('./font/OpenSans.ttf');
  font-family: 'Open Sans';
}

